@model IEnumerable<ORTCine.Models.Sala>

@{
    ViewData["Title"] = "Index";
}

<h1>Salas</h1>

<p>
    <a asp-action="Create">Agregar Sala</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numeroSala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.capacidadMax)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numeroSala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.capacidadMax)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.salaID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.salaID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.salaID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
