@model ORTCine.Models.Entrada

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Entrada</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numeroButaca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numeroButaca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pelicula.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cliente.apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sala.salaID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.entradaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
