@model IEnumerable<ORTCine.Models.Entrada>

@{
    ViewData["Title"] = "Index";
}

<h1>Compra de entrada</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numeroButaca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pelicula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sala)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numeroButaca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pelicula.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cliente.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sala.salaID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.entradaID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.entradaID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.entradaID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
